<div class="d-flex justify-content-center py-5">
    <h4> </h4>
</div>

<div class="row mb-4 mx-3">
    <div class="col-3 d-flex  align-items-center">
        <app-evaluation-users-in-eval [students]="this.students"></app-evaluation-users-in-eval>
    </div>

    <div class="col-4 card card-body w-25 mx-3 rounded-5">
        <br>
        <th class="bg-success text-white text-center h2">Listado de tests:</th>
        <br>

        @for (evaluationTest of this.evaluationTestsList; track evaluationTest){
        <hr>
        <h3 class="py-2 text-center">{{evaluationTest.name}}</h3>
        <button (click)="this.startTest(evaluationTest.id)" class="btn btn-outline-success border-0">Iniciar
            test</button>
        } @empty {
        <p class="text-center">No hay tests disponibles.</p>
        }


    </div>
</div>