@if (this.grade) {
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <h5 class="col card-title">{{ this.grade.id }}</h5>
            <button (click)="deleteGrade(this.grade.id)"
                class="col-1 btn btn-outline-danger btn-sm border-0 d-flex justify-content-center"><i
                    class="bi bi-trash3"></i></button>
            <button routerLink="modify/{{ this.grade.id }}"
                class="col-1 btn btn-outline-primary btn-sm border-0 d-flex justify-content-center"><i
                    class="bi bi-pencil"></i></button>
        </div>
        <p class="card-text">{{ this.grade.name }}</p>
    </div>
</div>
}