<ul class="w-10 mb-3 list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{this.name}}&nbsp;&nbsp;
        <span class="d-flex align-items-center">{{this.result}}</span>
        <a routerLink=":id" class="btn btn-success ml-auto">Observacion Individual</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{this.name}}&nbsp;&nbsp;
        <span class="d-flex align-items-center">{{this.result}}</span>
        <a routerLink=":id" class="btn btn-success ml-auto">Observacion Individual</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{this.name}}&nbsp;&nbsp;
        <span class="d-flex align-items-center">{{this.result}}</span>
        <a routerLink=":id" class="btn btn-success ml-auto">Observacion Individual</a>
    </li>
</ul>
<div class="d-flex justify-content-end">
    <p>
        <a routerLink="/observations" class="btn btn-success ml-auto">
            <h6>Observacion Grupal</h6>
        </a>&nbsp;
    </p>
</div>