<app-card-modal #modal>
  <h1 class="h3 mt-3 mb-5" style="text-wrap: pretty; text-align: center;">
    Ingrese su contraseña para concretar esta acción.
  </h1>

  <div class="form-floating mb-3">
    <input type="password" [(ngModel)]="password" class="form-control {{
      !ruleValidationService.passwordIsValid(password)
        ? 'is-invalid'
        : ''
    }}" maxlength=20 placeholder="" (keydown.enter)="this.OnConfirmation.emit(password)">
    <label for="password">Contraseña</label>
    @if (!ruleValidationService.passwordIsValid(password)) {
    <div id="invalid-password" class="invalid-feedback">
      {{ ruleValidationService.getDefaultPasswordErrorMessage() }}
    </div>
    }
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" (click)="close()" class="btn btn-secondary">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="this.OnConfirmation.emit(password)"
      [disabled]="!ruleValidationService.passwordIsValid(password)">Confirmar</button>
  </div>

  <div class="text-danger is-invalid" style="width: 100%; text-align: center; text-wrap: pretty;">
    {{ getError() }}
  </div>
</app-card-modal>
