<body>
    <div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
        <div class="d-flex align-items-center  justify-content-center mb-5 flex-column ">
            <img alt="Logo softest ucu" src="https://svgur.com/i/10j6.svg" style="width: 400px; margin-top: 0px;">
        </div>
        <div class="d-flex text-center w-100 vh-100  flex-column">
            <p class="fw-light w-75 flex-column mx-auto"
                style="align-content: center; width: 100%;"style="align-content: center; width: 100%; font-size: 20px;">
                Bienvenido a nuestra plataforma web, donde te brindamos la oportunidad de realizar evaluaciones que son
                fundamentales para el desarrollo académico. Aquí, puedes acceder al "Test de Eficacia Lectora (TECLE)," el
                "Test de Eficacia Ortográfica (TEO)," y el "Test de Eficacia del Cálculo Aritmético (TECA)," diseñados
                específicamente para estudiantes de primaria.
            </p>

            <p class="fw-light w-75 vh-100 flex-column mx-auto"
                style="align-content: center; width: 100%;"style="align-content: center; width: 100%; font-size: 20px;">
                Este sitio web fue desarrollado por estudiantes del segundo semestre de la carrera de Desarrollador de Software
                en la Universidad Católica del Uruguay. Nuestra meta es automatizar estas pruebas, asegurando que el tiempo
                destinado a cada evaluación se cumpla eficientemente. Esta automatización no solo agiliza el proceso, sino que
                también garantiza que los resultados se almacenen fácilmente en una base de datos de acceso sencillo. De esta
                manera, se facilita la evaluación del nivel de la clase en la que se aplicaron estas pruebas. Únete a nosotros y
                explora una nueva era de evaluaciones educativas eficientes y precisas directamente desde nuestra página web.
                ¡Te invitamos a descubrir el futuro de la evaluación educativa!
            </p>
        </div>
    </div>
</body>
