<div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
    <div class="d-flex align-items-center w-100  justify-content-center flex-column ">
        <img alt="Logo softest ucu" src="https://svgur.com/i/10j6.svg" style="width: 300px; margin-top: 10px">
    </div>
    <h2 class="w-75 p-1 fw-normal" id="Sobre Nosotros">Sobre Nosotros</h2>
    <p class="w-75 p-1 fw-light">¡Bienvenido a Softest! A continuación podrás ver información sobre nosotros y
        nuestro
        trabajo.
        ¡Gracias por usar nuestro producto!</p>
    <h2 class="w-75 p-1 fw-normal" id="¿quíenes-somos?">¿Quíenes somos?</h2>
    <p class="w-75 p-1 fw-light"> Somos estudiantes de las carreras de Desarrollo de Software y Licenciatura en
        Informática de
        la
        Universidad Católica del Uruguay. Como parte de nuestro programa de estudios, se nos encomendó crear esta
        plataforma.</p>
    <h2 class="w-75 p-1 fw-normal" id="¿de-qué-trata-softest">¿De qué trata Softest?</h2>
    <p class="w-75 p-1 fw-light">El propósito de esta plataforma es tal de que docentes y personal psicopedagógico
        puedan evaluar
        el desempeño de sus alumnos en diversas áreas.</p>
    <h2 class="w-75 p-1 fw-normal" id="¿qué-tipo-de-evaluaciones-se-pueden-llevar-acabo">¿Qué tipo de evaluaciones
        se pueden llevar acabo?</h2>
    <p class="w-75 p-1 fw-light">Actualmente la plataforma está equipada para realizar las siguientes evaluaciones:
    </p>
    <ul>
        <li class="w-75 p-1 fw-light">Test de Eficacia Lectora (TECLE).</li>
        <li class="w-75 p-1 fw-light">Test de Eficacia Ortográfica (TEO).</li>
        <li class="w-75 p-1 fw-light">Test de Eficacia del Cálculo Artimético (TECA).</li>
    </ul>
    <p class="w-75 p-1 fw-light">Más tipos de tests pueden ser agregados en un futuro.</p>
    <h2 class="w-75 p-1 fw-normal" id="¿qué-otras-funcionalidades-brinda-el-servicio">¿Qué otras funcionalidades
        brinda el servicio?</h2>
    <p class="w-75 p-1 fw-light">Llevar a cabo las pruebas puede ser una tarea árdua y poco grata, y eso es lo que
        pretendemos
        solucionar con nuestro servicio. Por lo tanto, agregamos funcionalidades que expanden las capacidades de los
        tests tradicionales en papel:</p>
    <ul>
        <li class="w-75 p-1 fw-light"><strong>Planificación:</strong> utilizando nuestras herramientas, se pueden
            planificar las
            prubas con antelación; permitiendo que se planifique el horario de cada prueba, los grupos de alumnos en
            los
            que serán llevadas a cabo, y las preguntas de cada prueba, además de su tipo.</li>
        <li class="w-75 p-1 fw-light"><strong>Monitoreo:</strong> con nuestro servicio para evaluadores se puede
            monitorear el
            desempeño de cada alumno en tiempo real, pudiendo ver quienes están haciendo la prueba y sus respuestas
            actuales.</li>
        <li class="w-75 p-1 fw-light"><strong>Revisión:</strong> después de cada prueba, los resultados de cada
            alumno,
            así como
            sus respuestas, se podrán ver desde el panel del evaluador que la haya creado; permitiendo evaluar
            fácilmente el desempeño global e individual de la clase.</li>
        <li class="w-75 p-1 fw-light"><strong>Seguridad:</strong> Softest dispone de un sistema de inicio de sesión
            ligado a
            cuentas de Microsoft que pertenezcan a la Universidad Católica del Uruguay, impidiendo que terceros
            puedan
            acceder al servicio.</li>
        <li class="w-75 p-1 fw-light"><strong>Privacidad:</strong> solo el evaluador que haya creado una prueba
            puede
            acceder a
            los datos de la misma, impidiendo que otros profesores o alumnos puedan acceder a información privada.
        </li>
    </ul>
    <h2 class="w-75 p-1 fw-normal" id="documentación">Documentación</h2>
    <p class="w-75 p-1 fw-light">Toda la documentación del servicio está disponible en <a
            href="https://github.com">nuestra
            plataforma en GitHub</a>.</p>
    <h2 class="w-75 p-1 fw-normal" id="¿puedo-ver-el-código-del-proyecto">¿Puedo ver el código del proyecto?</h2>
    <p class="w-75 p-1 fw-light">El código del proyecto está disponible en <a
            href="https://github.com/ucudal/softest">nuestro
            repositorio en GitHub</a>.</p>
    <h2 class="w-75 p-1 fw-normal" id="créditos">Créditos:</h2>

    <ul>
        <li>
            <div>
                <h3 style="font-size: 30px; margin: 20px">Softest:</h3>
                <ul>
                    <li>
                        <div>
                            <h3 style="font-size: 20px; margin: 10px">Programadores:</h3>
                            <ul class="w-25 p-3 list-group">
                                <li class="list-group-item">Nicolas Márquez</li>
                                <li class="list-group-item">Ana Clara Sena</li>
                                <li class="list-group-item">Cristan Rodriguez</li>
                                <li class="list-group-item">Lucas Rodriguez</li>
                                <li class="list-group-item">Natasha Kusminsky</li>
                                <li class="list-group-item">Gabriela Fares</li>
                                <li class="list-group-item">Juana Lopez</li>
                                <li class="list-group-item">Francisco Lima</li>
                                <li class="list-group-item">Franco Malugani</li>
                                <li class="list-group-item">Juan Tanca</li>
                                <li class="list-group-item">Nicolas Ferreira</li>
                                <li class="list-group-item">Martina Guzman</li>
                                <li class="list-group-item">Nicolas Gomez</li>
                            </ul>
                            <h3 style="font-size: 20px; margin: 10px">Testers:</h3>
                            <ul class="w-25 p-3 list-group">
                                <li class="list-group-item">Santiago Panozzo</li>
                                <li class="list-group-item">Mateo Rodriguez</li>
                                <li class="list-group-item">Facundo Martinez</li>
                                <li class="list-group-item">Tomas Esteves</li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3 style="font-size: 20px; margin: 10px">Tests:</h3>
                            <ul class="w-25 p-3 list-group">
                                <li class="list-group-item">Ariel Cuadro</li>
                                <li class="list-group-item">Daniel Costa</li>
                                <li class="list-group-item">Daniel Trias</li>
                                <li class="list-group-item">Patricia Ponce de León</li>
                                <li class="list-group-item">Ana Laura Palombo</li>
                                <li class="list-group-item">Alexa von Hagen</li>
                                <li class="list-group-item">Vivian Singer</li>
                                <li class="list-group-item">Sofía Cisa</li>
                                <li class="list-group-item">Sofía Pizzarossa</li>
                            </ul>
                        </div>
                    </li>

                  <li>
                        <div>
                            <h3 style="font-size: 20px; margin: 10px">Docentes a cargo:</h3>
                            <ul class="w-25 p-3 list-group">
                                <li class="list-group-item">Jorge Melnik</li>
                                <li class="list-group-item">Nicolas Reina</li>
                            </ul>
                        </div>
                    </li>

                  <li>
                      <div>
                          <h3 style="font-size: 20px; margin: 10px">Director de Carrera:</h3>
                          <ul class="w-25 p-3 list-group">
                              <li class="list-group-item">Armando Borrero Molina</li>
                          </ul>
                      </div>
                  </li>
