<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh; width: 100vw;">
  <div class="bg-light p-5 rounded-3 text-secondary shadow-lg" style="width:
    31rem; transition: all 200ms ease-in-out;">
    <div class="d-flex justify-content-left align-items-center mb-3" style="width: 100%;">
      <div style="width: 100%;">
        <img src="evaluadores/assets/logo_ucu.png" alt="login-icon" style="height: 3rem;" />
      </div>
      <img src="evaluadores/assets/logo_softest_no_margin_512.png" class="float-right" alt="login-icon"
        style="height: 3rem;" />
    </div>
    <hr>
    <div class="text-center text-color fs-1 fw-bolder" style="letter-spacing:
    1px;">Bienvenido</div>
    <router-outlet></router-outlet>
  </div>
</div>