<body>

    <div class="d-flex justify-content-center pt-3">
        <h2>Buscar grado por ID</h2>
    </div>

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-4">
                        <label class="form-label">Ingrese el ID del grado:</label>
                        <input type="number" class="form-control" placeholder="...">
                        <div class="d-flex justify-content-center pt-3">
                            <button type="button" class="btn btn-outline-primary w-25">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>