<div>
    <div class="d-flex justify-content-around">
      <h3>Observaciones</h3>
      </div>
    <div>
      {{model.editorData | json}}
      <ckeditor [(ngModel)]="model.editorData" [editor]="Editor"></ckeditor>
    </div>
      <div class="d-flex justify-content-end mt-2">
        <p>
            <a routerLink="/evaluators" class="btn btn-danger mr-2">Cancelar</a>
            &nbsp;
            <a routerLink="/evaluators" class="btn btn-success">Guardar</a>
            <!--<button class="btn btn-success" type="submit" (click)="this.onSubmit()">Guardar</button>
                !-->
        </p>
    </div>
</div>
